<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/PlayStation_Store.png"
         alt="playstation logo"
         srcset=""
         width="180px"
         height="42px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://linkedin.com/in/guilherme-carvalho-4b7502272">LINKEDIN</a></li>
            <li><a href="https://github.com/GuilhermeOliveiraCarvalho">GITHUB</a></li>
            <li><a href="https://www.dio.me/users/gui17oliveira">DIO</a></li>
        </ul>
    </div>
</div>
